body{
    width: 2400px;
    height: 2306px;
}
.gray_strip{
    height: 400px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 200px;
}
.part_1{
    background: url(../img/mountain.jpeg) 0 0 no-repeat;
    height: 845px;
}
header{
    padding-top: 66px;
    height: 50px;
    margin: 0 718px;
    width: 40.15%;
}
.name_site{
    float: left;
}
.menu{
    float: right;
    position: relative;
    overflow: hidden;
    margin-right: 6px;
    margin-top: 4px;
}
.menu__item{
    display: block;
    float: left;
    list-style: none;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
    margin-left: 52px;
}
.menu__item:hover{
    border-bottom: 2px solid rgb(237, 191, 255);
}
.menu__link{
    font-family: 'League Gothic';
    color:  #ffffff;
    font-size: 24px;
    text-decoration: none;
    line-height: 33.724px;
}
.white__name{
    font-family: 'League Gothic';
    color:  #ffffff;
    font-size: 48px;
    line-height: 33.724px;
    letter-spacing: -0.5px;
}
.violet_name{
    font-family: 'League Gothic';
    color: #46324f;
    font-size: 48px;
}
.container{
    margin-top: 162px;
    height: 400px;
    width: 100%;
    background-color:  rgba(0, 0, 0, 0.2);
}
.left_arrow{
    position: relative;
    top: 179px;
    left: 397px;
}
.right_arrow{
    position: relative;
    top: 180px;
    left: 1938px;
}
.name_section{
    font-family: 'League Gothic';
    color:  #fefefe;
    font-size: 60px;
    line-height: 51px;
    letter-spacing: -0.4px;
}
.name_subsection{
    font-family: 'League Gothic';
    color:  #eebfff;
    font-size: 32px;
    line-height: 39px;
}
.text_sidebar{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    padding-top: 3px;
    letter-spacing: -0.4px;
}
.container_box{
    margin: 0 718px;
}
.sidebar{
    float: left;
    padding: 38px 0;
    height: 231px;
    width: 54%;
    }
.content{
    float: right;
    position: relative;
    right: 72px;
    bottom: 63px;
}
.list_container{
    position: relative;
    left: 1430px;
    top: 93px;
}
.part_2{
    background-image: -ms-linear-gradient(top, #764F84 0%, #292735 100%);
    background-image: -moz-linear-gradient(top, #764F84 0%, #292735 100%);
    background-image: -o-linear-gradient(top, #764F84 0%, #292735 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #764F84), color-stop(100, #292735));
    background-image: -webkit-linear-gradient(top, #764F84 0%, #292735 100%);
    background-image: linear-gradient(to bottom, #764F84 0%, #292735 100%);
    height: 342px;
    width: 100%;
}
.about__company__name{
    font-family: 'League Gothic';
    color:  #ffffff;
    font-size: 30px;
    line-height: 24px;
    text-shadow: 0px 1px 0px #0f1518;
}
.about__company__text{
    font-family: 'Open Sans';
    color:  #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0px 1px 0px #0f1518;
    padding-top: 12px;
    letter-spacing: -0.4px;
}
.read_more{
    font-family: 'League Gothic';
    color:  #ffffff;
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 1px 0px #0f1518;
    padding-top: 17px;
    padding-left: 160px;
}
.read_more:hover{
    text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}
.section_1, .section_2, .section_3{
    position: relative;
    top: 80px;
    width: 235px;
    left: 782px;
    float: left;
    margin-right: 103px;
}
.sprite{
    width: 44px;
    height: 31px;
    float: left;
    background: url(../img/sprite.png) no-repeat;
}
.section_1 .sprite {
    margin-top: 3px;
    margin-left: -53px;
}
.section_2 .sprite{
    margin-top: 5px;
    margin-left: -56px;
    background-position: -39px 0;
}
.section_3 .sprite{
    margin-top: 3px;
    margin-left: -56px;
    background-position: -90px 0;
}
.section_2 .read_more{
    padding-left: 164px;
}
.section_3 .read_more{
    padding-left: 164px;
}
.part_3{
    height: 485px;
    width: 100%;
    background: #fafafa;
    border-bottom: 1px solid #e6e6e6;
}
.comentar{
    float: left;
    margin-left: 742px;
    margin-top: 102px;
    background: url(../img/comentar_img.png) 0 0 no-repeat;
    width: 427px;
    height: 300px;
}
.name__comentar{
    font-family: 'League Gothic';
    color: #454545;
    font-size: 30px;
}
.name__comentar__article{
    font-family: 'League Gothic';
    color: #edbfff;
    font-size: 30px;
}
.name__comentar__text{
    padding-left: 39px;
    padding-top: 10px;
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-shadow: 0px 1px 0px #ffffff;
    letter-spacing: -0.35px;
    width: 351px;
}
.image_man{
    position: relative;
    top: 16px;
    right: 14px;
    float: left;
    margin-left: -10px;
}
.all__text__comentar{
    padding-top: 26px;
}
.some__block{
    float: left;
    margin-left: 60px;
    margin-top: 132px;
    height: 300px;
    margin-right: 103px;
}
.name__block{
    font-family: 'League Gothic';
    color:  #454545;
    font-size: 30px;
    line-height: 24px;
    text-shadow: 0px 1px 0px #ffffff;
}
.list__block__1{
    float: left;
    width: 100%;
    margin-top: 19px;
}
.block__1__img{
    float: left;
    margin-right: 18px;
}
.list__block__1 p{
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.88px;
}
.list__block__1 span{
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.4px;
}
.list__block__2{
    float: left;
    width: 100%;
    margin-top: 19px;
}
.block__2__img{
    float: left;
    margin-right: 18px;
}
.list__block__2 p{
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.88px;
}
.list__block__2 span{
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.4px;
}
.list__block__3{
    float: left;
    width: 100%;
    margin-top: 15px;
}
.block__3__img{
    float: left;
    margin-right: 18px;
}
.list__block__3 p{
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.88px;
}
.list__block__3 span{
    font-family: 'Open Sans';
    color:  #454545;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: -0.4px;
}
.shape_down{
    position: relative;
    display: inline-block;
    left: 915px;
    bottom: 36px;
}
.read_more_here p{
    font-family: 'League Gothic';
    color:  #454545;
    font-size: 18px;
    text-shadow: 0px 1px 0px #ffffff;
}
.read_more_here{
    position: relative;
    left: 1575px;
    bottom: 76px;
}
.part_4{
    border-top: 1px solid white;
    width: 100%;
    background: #fafafa;
    height: 116px;
    border-bottom: 1px solid white;
}
.logo{
    margin: 25px 743px 25px 811px;
}
.logo li{
    display: inline-block;
    margin-right: 63px;
}
.part_5{
    border-top: 1px solid #d8d8d8;
    background: #ececec;
    height: 398px;
}
.citations{
    margin: 94px 703px 98px 717px;
    height: 300px;
}
.citation__1, .citation__2, .citation__3{
    float: left;
    height: 300px;
    width: 300px;
}
.citation__name__1 span{
    font-family: 'League Gothic';
    color: #454545;
    font-size: 48px;
}
.citation__name__1 .gray_name{
    font-family: 'League Gothic';
    color: #b9b9b9;
    font-size: 48px;
}
.printing_house{
    font-family: Georgia;
    color:  #c5c5c5;
    font-size: 16px;
    font-style: italic;
    letter-spacing: -0.3px;
    padding: 15px 0 13px 0;
}
.citation__text{
    font-family: 'Open Sans';
    color: #787878;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.3px;
}
.citation__2{
    margin-left: 39px;
    margin-top: 3px;
}
.citation__name__2{
    font-family: 'League Gothic';
    color:  #454444;
    font-size: 30px;
    margin-bottom: 8px;
}
.citation__text__2{
    font-family: 'Open Sans';
    color:  #787878;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: -0.3px;
}
.citation__3{
    margin-left: 40px;
    margin-top: 3px;
}
.citation__name__3{
    font-family: 'League Gothic';
    color:  #454444;
    font-size: 30px;
    margin-bottom: 10px;
}
.citation__text{
    font-family: 'Open Sans';
    color:  #787878;
    font-size: 16px;
    font-weight: 300;
}
footer{
    background: url(../img/footer.png) 0 0 no-repeat;
    height: 115px;
}
.menu__footer{
    position: relative;
    top: 40px;
    left: 719px;
}
.menu__footer .menu__link{
    font-family: 'League Gothic';
    color:  #ffffff;
    font-size: 20px;
}
.menu__footer .menu__item{
    margin-right: 43px;
    margin-left: 0px;
}
.author{
    position: relative;
    top: 52px;
    left: 975px;
}
.author span{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: -0.2px;
}
.author .firm{
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

@media (min-width: 768px) and (max-width: 959px) {
    .name_site{
        margin-left: 117px;
    }
    .menu{
        margin-right: 217px;
        margin-top: 24px;
    }

}